body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px
    }
.name-color{
    color: #333399;
}
section{display: flex;}
.half-width{
    width: 50%;
}
.half-width img{
    width: 70%;
}